services:
  mysql:
    image: mysql:8.0
    container_name: mysql-local
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: medpro
    ports:
      - "3307:3306"
    volumes:
    - mysql_data:/var/lib/mysql
    networks:
      - api

  api:
    build: .
    container_name: medpro_api
    depends_on:
      - mysql
    restart: unless-stopped
    environment:
      SPRING_DATASOURCE_URL: jdbc:mysql://mysql:3306/medpro
      SPRING_DATASOURCE_USERNAME: root
      SPRING_DATASOURCE_PASSWORD: root
      SPRING_FLYWAY_CONNECT_RETRIES: 10
    ports:
      - "8080:8080"
    networks:
      - api

networks:
  api:
    driver: bridge

volumes:
  mysql_data: