services:
  mysql:
    image: mysql:8.0
    container_name: mysql_db
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: medpro
    ports:
      - "3307:3306"
    healthcheck:
      test:
        [
          "CMD",
          "mysqladmin",
          "ping",
          "-h",
          "localhost",
          "-u",
          "root",
          "-proot",
        ]
      interval: 5s
      timeout: 3s
      retries: 20
      start_period: 30s
    volumes:
    - mysql_data:/var/lib/mysql
    networks:
      - api

  api:
    build: .
    container_name: medpro_api
    depends_on:
      mysql:
        condition: service_healthy
    restart: unless-stopped
    environment:
      SPRING_DATASOURCE_URL: jdbc:mysql://mysql:3306/medpro
      SPRING_DATASOURCE_USERNAME: root
      SPRING_DATASOURCE_PASSWORD: root
      SPRING_FLYWAY_CONNECT_RETRIES: 10
    ports:
      - "8080:8080"
    networks:
      - api

networks:
  api:
    driver: bridge

volumes:
  mysql_data: